@import '../../styles/mixins.scss';

.SearchResults {
  padding: 2rem;
  gap: 2rem;
  display: flex;
  max-width: 100%;
  height: auto;
  flex-wrap: wrap;
}

.SearchResults__Grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
}

.SearchResults__Loading {
  @include flex-center;
  flex: 1;
}
