@import '../../styles/mixins.scss';

.Hero {
  background-image: url('../../assets/media/side-view-beautiful-different-flowers-wooden-surface.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  @include flex-center;
}
