$darkbrown: rgba(64, 37, 33, 1);
$pink: rgba(235, 171, 158, 1);
$white: rgba(252, 246, 237, 1);
$lightbeige: rgba(237, 228, 213, 1);
$darkerbeige: rgba(230, 214, 191, 1);
$brown: rgba(115, 65, 55, 1);
$orange: rgba(228, 123, 83, 1);
$yellow: rgba(240, 206, 86, 1);

$radius: 0.8rem;

$font-arastin-pro: 'ArastinPro', 'Lucida Handwriting', cursive;
$font-arastin-script: 'ArastinScript', 'Lucida Handwriting', cursive;
$font-arastin-std: 'ArastinStd', 'Georgia', 'Times New Roman', serif;
$font-mixone: 'Mixone', 'Georgia', 'Times New Roman', serif;
$font-tommy: 'TommySoft', 'Arial', 'Helvetica', sans-serif;
