.NavBar {
  position: sticky;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1.5rem;
  padding: 1rem;
  background-color: #ede2d1;
}

.NavBar__menu {
  display: flex;
  justify-content: space-between;
  min-width: 50%;
}

a {
  text-decoration: none;

  &.Link {
    color: #402521;
    font-size: 2rem;
    font-family: Mixone;
    //   font-variant: small-caps;
    margin-bottom: -5px;

    &.active {
      background-color: red;
    }
  }
}

.NavBar__title {
  font-family: 'ArastinPro';
  font-size: 2.5rem;
  color: #402521;
  font-weight: lighter;
}
