@use '../../styles/variables' as var;
@import '../../styles/mixins.scss';

.NavBar {
  position: sticky;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1.5rem;
  padding: 1rem;
  background-color: var.$darkerbeige;
}

.NavBar__menu {
  display: flex;
  justify-content: space-between;
  min-width: 50%;
}

a {
  text-decoration: none;

  &.Link {
    color: var.$darkbrown;
    font-size: 2rem;
    font-family: var.$font-mixone;
    margin-bottom: -5px;
    padding: 0.5rem;
    border-radius: var.$radius;
    transition: transform 0.1s ease, background-color 0.2s ease, color 0.2s ease;

    &:hover {
      background-color: var.$pink;
      transform: translateY(-2px);
    }

    &:active {
      transform: scale(0.95);
    }

    &.active {
      background-color: var.$white;

      &:hover {
        color: var.$darkbrown;
      }
    }
  }
}

.NavBar__title {
  font-family: var.$font-arastin-pro;
  font-size: 2.3rem;
  color: var.$darkbrown;
  font-weight: lighter;
}

.NavBar__title_wrapper {
  @include flex-center;
  flex-direction: row;

  gap: 1rem;

  & img {
    max-height: 3.5rem;
    width: auto;

    &:hover {
      //   background-color: black;
      animation: rotate 3s ease-in-out infinite;
    }
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
