@use '../../styles/variables.scss' as var;
@import '../../styles/mixins.scss';

.BookCard {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 10vw;
  min-width: 150px;
  gap: 0.5rem;
  position: relative;

  p {
    max-width: 100%;
    text-align: center;
  }
}

.BookCard__image {
  width: 100%;
  aspect-ratio: 2 / 3;
  object-fit: cover;
  //   border-radius: var.$radius;
}

.BookCard__title {
  font-weight: bold;
  font-size: 1rem;
  font-family: var.$font-mixone;
  //   font-family: var.$font-tommy;
}

.BookCard__author {
  //   font-style: italic;
  font-size: 0.8rem;
  font-family: var.$font-tommy;
  // white-space: nowrap;
  // overflow: hidden;
  // text-overflow: ellipsis;
  max-width: 100%;
  justify-self: flex-end;
}

.BookCard .ReadButton {
  margin-top: auto;
  font-size: 0.8rem;
}
