@use '../../styles/variables.scss' as var;
@import '../../styles/mixins.scss';

.BookCard {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  max-width: 15vw;
  gap: 0.5rem;
  position: relative;

  p {
    max-width: 100%;
    text-align: center;
  }
}

.BookCard__image {
  max-width: 15vw;
  height: auto;
}

.BookCard__title {
  font-weight: bold;
  font-size: 1.3rem;
  font-family: var.$font-mixone;
  //   font-family: var.$font-tommy;
}

.BookCard__author {
  //   font-style: italic;
  font-size: 0.9rem;
  font-family: var.$font-tommy;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.BookCard__icon-wrapper {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background-color: var.$white;
  border: 1px solid var.$darkbrown;
  //   max-width: 2.5rem;
  //   max-height: 2.5rem;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  @include flex-center;
}

.BookCard__icon {
  font-size: 1.5rem;
}

.BookCard .BookCard__icon {
  transition: opacity 0.3s ease, color 0.3s ease, fill 0.3s ease;
  opacity: 1;
}

.BookCard .BookCard__icon-wrapper:hover .BookCard__icon {
  color: var.$brown;
  fill: var.$brown;
}

.BookCard__icon__check {
  color: var.$orange;
  fill: var.$orange;
}
