* {
  margin: 0;
}

main {
  background-color: #fcf0de;
}

@font-face {
  font-family: 'ArastinPro';
  src: url('./assets/fonts/arastin_pro/ArastinPro.ttf');
}

@font-face {
  font-family: 'ArastinScript';
  src: url('./assets/fonts/arastin_pro/ArastinScript.ttf');
}

@font-face {
  font-family: 'ArastinStd';
  src: url('./assets/fonts/arastin_pro/ArastinStd.ttf');
}

@font-face {
  font-family: 'Michelia';
  src: url('./assets/fonts/michelia/Michelia.otf');
}

@font-face {
  font-family: 'Milven';
  src: url('./assets/fonts/milven/Milven-Regular.otf');
}

@font-face {
  font-family: 'HabitaScenic';
  src: url('./assets/fonts/habita_scenic/HabitaScenic_PERSONAL_USE_ONLY.otf');
}
