@use './styles/variables' as var;

* {
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

html,
body {
  height: 100%;
  width: 100%;
  max-width: 100%;
  font-family: var.$font-mixone;
  font-size: 1.1rem;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  background-color: var.$lightbeige;
  display: flex;
  flex: 1;
}

button,
input {
  font-family: var.$font-mixone;
  font-size: 1.1rem;
}

// body,
// input,
// button,
// textarea,
// select {
//   font-family: 'Inter', sans-serif;
// }

// @import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;&display=swap');

// @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;&display=swap');

@font-face {
  font-family: 'ArastinPro';
  src: url('./assets/fonts/arastin_pro/ArastinPro.ttf');
}

@font-face {
  font-family: 'ArastinScript';
  src: url('./assets/fonts/arastin_pro/ArastinScript.ttf');
}

@font-face {
  font-family: 'ArastinStd';
  src: url('./assets/fonts/arastin_pro/ArastinStd.ttf');
}

@font-face {
  font-family: 'Mixone';
  src: url('./assets/fonts/mixone_2/MIXONE.ttf');
}

@font-face {
  font-family: 'CocogooseLight';
  src: url('./assets/fonts/cocogoose/Cocogoose-Pro-Light-trial.ttf');
}

@font-face {
  font-family: 'CocogooseUltralight';
  src: url('./assets/fonts/cocogoose/Cocogoose-Pro-Ultralight-trial.ttf');
}
